<?xml version="1.0" ?>
<robot name="platform">
  <link name="base_link" />

    <link name="platform2">
    <visual>
      <geometry>
        <mesh filename="package://mc_env_description/meshes/platform/platform2.stl" />
      </geometry>
      <material name="Platform2">
        <color rgba="0.4626903533935547 0.4890856444835663 0.800000011920929 1" />
      </material>
    </visual>

  </link>
  <joint name="platform2" type="fixed">
    <parent link="base_link" />
    <child link="platform2" />
    <origin rpy="0.0 0.0 0.0" xyz="1.5 0.0 1.059999942779541" />
  </joint>

  <link name="platform1">
    <visual>
      <geometry>
        <mesh filename="package://mc_env_description/meshes/platform/platform1.stl" />
      </geometry>
      <material name="Platform1">
        <color rgba="0.7230302691459656 0.2594449818134308 0.17624002695083618 1" />
      </material>
    </visual>

  </link>
  <joint name="platform1" type="fixed">
    <parent link="base_link" />
    <child link="platform1" />
    <origin rpy="0.0 0.0 0.0" xyz="0.75 0.0 0.3999999761581421" />
  </joint>

  <link name="ground">
    <visual>
      <geometry>
        <mesh filename="package://mc_env_description/meshes/platform/ground.stl" />
      </geometry>
      <material name="Ground">
        <color rgba="0.963704526424408 1.0 0.26654547452926636 1" />
      </material>
    </visual>

  </link>
  <joint name="ground" type="fixed">
    <parent link="base_link" />
    <child link="ground" />
    <origin rpy="0.0 0.0 0.0" xyz="-2.0 0.0 -0.10000000149011612" />
  </joint>

</robot>
